@mixin material_shadow($deep,$kosa){
    box-shadow: rgba(125,125,125,.8) 0 0 $deep  $kosa;
}

header{
    height: 60px;
    width: 100%;
    background-color: #607D8B;
    margin: 0;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;

    @include material_shadow(12px,4px);

    .logo{
        position: fixed;
        top: 5px;
        left: 30px;

            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 50px;
                font-size: 30px;
                color: #fff;
            }
    }

    .find_window{
        height: 50px;
        margin: 5px auto;
        width: 900px;
        // background-color: #718E9C;

        .find_logo{
            height: 40px;
            width: 40px;
            float: left;
            margin: 5px;
            // background-color: #fff;
            img{
                height: 40px;
                width: 40px;
            }
        }

        .find{
            height: 40px;
            width: 850px;
            float: left;

            input{
                display: block;
                height: 50px;
                width: 850px;
                margin: 0;
                padding: 0;
                border: 0;
                background-color: rgba(200,200,200,.5);
                transition: .2s;

                font-size: 35px;
                font-family: 'Roboto', sans-serif;

                &:focus{
                    background-color: #fff;
                    outline: none;
                }
            }
        }
    }

    .other{
        height: 50px;
        width: 200px;
        position: fixed;
        top: 5px;
        right: 20px;

        .account,
        .notifications{
            height: 50px;
            width: 50px;
            margin: 0 5px;
            float: right;
            background-color: #fff;
            border-radius: 50%;

            @include material_shadow(4px,2px);
        }
    }
}
