@mixin material_shadow($deep,$kosa){
    box-shadow: rgba(125,125,125,.8) 0 0 $deep  $kosa;
}


main{
    margin: 100px  0 ;
    height: auto;
    width: 100%;
}

.main_content{
    width: 900px;
    height: auto;
    // height: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;

    @include material_shadow(6px,1px);

    .contents{
        width: 90%;
        height: 260px;
        margin: 15px 5% ;
        // background-color: #efefef;
        border:solid 1px #eee;
        float: left;
        overflow-x: scroll;
        // @include material_shadow(6px,1px);

        .title{
            height: 30px;
            width: 100%;
            margin: 5px 0;
            h2{
                line-height: 30px;
                font-size: 20px;
            }
        }

        .movies{
            width: 1500px;
            height: 200px;
            .card{
                float: left;
                height: 210px;
                width: 240px;
                margin: 0 5px;
                background-color: #fff;
                border-radius: 3px;

                @include material_shadow(4px,1px);
                .mov{
                    height: 135px;
                    width: 240px;
                    float: left;
                    background-color: #222;
                    border-radius: 3px 3px 0 0;
                }

                .exp{
                    height: 75px;
                    width: 240px;
                    float: left;
                    background-color: #efefef;
                }
            }
        }

    }


}
