@mixin material_shadow($deep,$kosa){
    box-shadow: rgba(75,75,75,.7) 0 0 $deep  $kosa;
}

$share_size:50px;

main{
    width: 100%;
    height: auto;
    margin: 100px 0;

    .main_content{
        height: auto;
        width: 900px;
        margin: 0 auto;
        // background-color: #fff;
        border-radius: 3px;

        // @include material_shadow(4px,1px);

        .results{
            width: 800px;
            height: 180px;
            margin: 20px 50px;
            background-color: #efefef;
            float: left;
            border-radius: 3px;
            position: relative;
            transition: all .2s;

            @include material_shadow(4px ,1px);

            &:hover{

                @include material_shadow(8px,1px);
                > .share{
                    height: $share_size;
                    width: $share_size;
                    bottom: 20px;
                    left: 320px - $share_size / 2;
                    @include material_shadow(8px,2px);
                }
            }

            .mov{
                height: 180px;
                width: 320px;
                background-color: #fff;
                float: left;
                border-radius: 3px 0 0 3px;
            }

            .share{
                width: 0px;
                height: 0px;
                position: absolute;
                bottom: 20px + $share_size / 2;
                left: 320px ;
                background-color: #EF5350;
                border-radius: 50%;
                // opacity: 0;

                transition: all .2s;
                transition-delay: height .2s;

                &:hover{
                    @include material_shadow(16px,2px);
                }
            }
        }
    }
}
