@mixin material_shadow($deep,$kosa){
    box-shadow: rgba(75,75,75,.7) 0 0 $deep  $kosa;
}

main{
    width: 100%;
    height: auto;
    margin: 100px 0 0 0 ;

    .main_content{
        width: 900px;
        height: auto;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        border-radius: 5px;


        .view{
            width: 900px;
            height: auto;
            float: left;
            background-color: #fff;
            border-radius: 3px;
            @include material_shadow(8px,1px);

            .mov{
                height: calc(900px / 16 * 9);
                border-radius: 5px 5px 0 0;
            }

            .explain{
                width: 900px;
                height: 200px;
                margin: 10px 0 0 0;
                float: left;
                background-color: #efefef;
                border-radius: 0 0 5px 5px;

            }

        }

        .other{
            width: auto;
            height: 400px;
            // background-color: #fff;
            margin: 50px 0 0 0;
            float: left;
            // margin: 0 0 0 10px;

            .comments{
                width: 510px;
                height: 200px;
                margin: 0 30px 0 0;
                float: left;
                // background-color: #aca;

                .comment_title{
                    height: 30px;
                    width: 100%;
                    margin: 5px 0;

                    p{
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                .comment{
                    height: auto;
                    width: 100%;
                    border-radius: 3px;
                    background-color: #fff;
                    @include material_shadow(8px,1px);

                    .user_img{
                        width: 60px;
                        height: 60px;
                        float: left;
                        margin: 0 0 10px 0;
                        // background-color: #aca;

                        img{
                            height: 50px;
                            width: 50px;
                            margin: 10px 0 0 10px;
                            background-color: #fff;
                            float: left;
                        }
                    }

                    .com{
                        width: 450px;
                        height: auto;
                        float: left;
                        // background-color: #aca;

                        p{
                            margin: 10px;
                            text-indent: 1em;
                            width: 430px;
                            line-height: 17px;
                            font-size: 16px;
                            word-wrap: break-word;
                        }
                    }
                }

            }

            .movies{
                width: 320px;
                height: 200px;
                margin:0 0 0 40px;
                float: left;
                // background-color: ;

                .other_mov_title{
                    height: 30px;
                    width: 100%;
                    margin: 5px 0;

                    p{
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                .other_movie{
                    width: 100%;
                    height: 260px;
                    float: left;
                    background-color: #fff;
                    margin-bottom: 30px;
                    border-radius: 3px;
                    @include material_shadow(8px,1px);

                    .mov{
                        height: 180px;
                        width: 100%;
                        float: left;
                        background-color: #000;
                        border-radius: 3px 3px 0 0 ;
                    }

                    .info{
                        width: 100%;
                        margin: 10px 0;
                        float: left;

                        p{
                            width: 100%;
                            line-height: 16px;
                            font-size: 16px;
                            word-wrap: break-word;
                            text-indent: 1em;;
                        }
                    }
                }

            }
        }


    }
}
